@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ethan Schofer<br />
    Bala Cynwyd, PA 19004<br />
    <abbr title="Phone">P:</abbr>
    215.555.1212
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ethan.schofer@gmail.com">ethan.schofer@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:ethan.schofer@gmail.com">ethan.schofer@gmail.com</a>
</address>